<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Tenda | 处理问题单</title>

	


<!-- BEGIN PAGE LEVEL STYLES -->
	<link href="/media/css/inbox.css" rel="stylesheet" type="text/css" />

	<!-- END PAGE LEVEL STYLES -->
</head>

<body>
	
	<!--Account Management Modal END-->
	<div class="row-fluid">
		<div class="span12">
			<h3 class="page-title">
				处理问题单
				<small></small>
			</h3>
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="#">Home</a>
					<span class="icon-angle-right"></span>
				</li>
				<li>
					<a href="#">处理问题单</a>
				</li>
			</ul>
		</div>
	</div>


	<div class="modal fade" id="rd_upload_modal" tabindex="-1" role="dialog" aria-labelledby="rd_upload_modal_label">
		<div class="modal-dialog modal-md" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="关闭">
						<span aria-hidden="true"></span>
					</button>
					
					<h4 class="modal-title" id="rd_upload_modal_label">上传文件</h4>

				</div>
				<div class="modal-body">
					<div id="upload_container">
						<div class="upload-info">正在上传文件，请稍候</div>
						<div class="upload-progress hide">已上传<span></span>%</div>
						<div class="progress progress-success hide">
							<div class="bar"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="rd_image_modal" tabindex="-1" role="dialog" aria-labelledby="rd_image_modal_label">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="关闭">
						<span aria-hidden="true"></span>
					</button>
					
					<h4 class="modal-title" id="rd_image_modal_label">图片</h4>

				</div>
				<div class="modal-body" style="text-align:center;">
					<img id="rd_img_show" src="">
				</div>
			</div>
		</div>
	</div>

	<div class="row-fluid inbox rd-index">
		<div class="span2">
			<ul class="inbox-nav margin-bottom-10">
				
				<li class="compose-btn rd-search">
					<a href="javascript:;" data-title="查询" class="btn green">
						<i class="icon-search"></i> 查询

					</a>
				</li>

				<li class="compose-btn rd-start">
					<a href="javascript:;" data-title="开始" class="btn green">
						<i class="icon-edit"></i> 开始

					</a>
				</li>

				<li class="compose-btn li-badge rd-show hide">
					<a href="javascript:;" data-title="接收" class="btn green">
						<i class="icon-signin"></i> 接收
						
					</a>
					<span class="badge badge-important hide">0</span>
				</li>

				<li class="rd-msg">
					<a href="#rd_content" data-title="内容" class="btn">
						内容
					</a>
					<b></b>
				</li>

				<li class="rd-send">
					<a href="#rd_reply" data-title="回复" class="btn">
						回复
					</a>
					<b></b>
				</li>
			</ul>
		</div>

		<div class="span8 rd-operated">
			<div class="inbox-header">
				<h1 class="pull-left">处理问题单</h1>
			</div>
			<div class="inbox-loading hide">等待中...</div>
			<div class="inbox-tip hide">点击接收，开始处理订单</div>
			<div class="inbox-content hide">
				<form id="rd_reply_form" action="/data/lua" method="post" enctype="multipart/form-data">
					<div id="rd_content" class="portlet">
						<div class="portlet-title line">
							<div class="caption"><i class="icon-comments"></i> 问题单</div>
							<div class="tools">
								<a href="javascript:;" class="collapse"></a>

							</div>
						</div>
						<div class="portlet-body">
							<ul class="chats"></ul>
						</div>
						
					</div>
		
					<div id="rd_reply">
						
						
						<textarea id="rd_reply_content" class="span12" rows="10" style="overflow:hidden;"></textarea>
						<br/>
						<div>
							
							<span class="btn green fileinput-button" id="add_file">
								<i class="icon-plus icon-white"></i>
								<span>附件</span>	
								
							</span>

							<button type="submit" class="btn blue" id="rd_save">
								<i class="icon-ok"></i>
								 提交
							</button>
							<button type="button" class="btn" id="rd_cancel">
								取消
							</button>
						</div>
						<br>
						<div id="file_arr" class="tagsinput span12 hide" style="height:auto !important;">
								
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="span8 rd-search-content hide">
			<div class="inbox-header">
				<h1 class="pull-left">查询问题单</h1>
				<form action="#" class="form-search pull-right">
				<div class="input-append">
					<input type="text" class="m-wrap" id="search_id" placeholder="查询订单号">
					<button class="btn green" type="button" id="btn_search">查询</button>
				</div>
			</form>
			</div>
			<div class="search-inbox-tip">输入问题单号，点击查询可以查询相应单号的具体内容</div>
			<br>
			
			<div class="inbox-content">
				<div class="search-result"></div>
				<ul class="chats">
					
				</ul>
			</div>
		</div>
	</div>


	
		

</body>


	



	<script src="/media/js/jquery.validate.min.js" type="text/javascript"></script>
	
<!-- END PAGE LEVEL PLUGINS -->
	
	
	<script type="text/javascript" src="/js/jquery.form.js"></script>
	<script type="text/javascript" src="/js/rd_index.js"></script>
</html>