<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>陪诊记录</title>
		

</head>

<body>
	
	<!--Account Management Modal END-->
	<!-- <div class="row-fluid">
		<div class="span12">
			<h3 class="page-title">
				陪诊记录
				<small>可以查询，修改，添加客服人员信息</small>
			</h3>
			<ul class="breadcrumb">
				<li>
					<i class="icon-home"></i>
					<a href="#">Home</a>
					<span class="icon-angle-right"></span>
				</li>
				<li>
					<a href="#">陪诊记录</a>
				</li>
			</ul>
		</div>
	</div> -->

	<div class="row-fluid">
		<div class="span12">
			<!--BEGIN SAMPLE TABLE PORTLET-->
			<div class="portlet box blue">
				<div class="portlet-title">
					<div class="caption" id="record_title"><i class="icon-heart"></i>陪诊记录</div>
					
					<div class="actions">

						<a href="#" class="btn blue" data-toggle="modal" data-target="#event_modal" id="addbutton">
							<i class="icon-pencil" ></i> 添加事件
						</a>
						
						<div class="btn-group">
							
							<a href="#" class="btn green" data-toggle="dropdown">
								
								<i class="icon-cogs"></i> 工具
								<i class="icon-angle-down"></i>
							</a>

							<ul class="kf-index dropdown-menu pull-right">
								<li><a href="#"><i class="icon-pencil"></i>修改</a></li>
								<li><a href="#"><i class="icon-trash"></i>删除</a></li>
								<li><a href="#"><i class="icon-plus"></i>陪诊记录</a></li>
								
							</ul>

						</div>
					</div>

				</div>

				<div class="portlet-body">
					
					<table class="table table-striped table-bordered table-hover table-full-width" id="kf_list" data="<?php echo $customer_id ?>">
						
						<thead>
							<tr>
								<!-- style="width:8px" -->
								<th> 
									<input type="checkbox" class="group-checkable" data-set="#kf_list .checkboxes">
								</th>
								<th >类型</th>
								<th >状态</th>
								<th class="hidden-480">就诊日期</th>
								<th class="hidden-480">就诊时间</th>
								<th class="hidden-480">就诊项目</th>
								<th class="hidden-480">就诊医生</th>
								<th class="hidden-480">备注</th>
								<th>最后修改</th>
								<th>详情</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>

				</div>
			</div>
		</div>
	</div>

	<!--event modal-->
	<div class="modal fade" id="event_modal" tabindex="-1" role="dialog" aria-labelledby="event_modal_label">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true"></span>
					</button>
					<h4 class="modal-title" id="event_modal_label">预约事件</h4>
				</div>

				<form action="" class="form-horizontal event-form" style="margin-bottom:0px;">
					<div class="modal-body">						

						<div class="control-group">
							<label class="control-label" id="event_id"></label>
						</div>

						<div class="control-group">
							<label class="control-label" style="text-align:right;">就诊日期:<span class="required">*</span></label>
							<div class="controls">
								<input type="date" id="event_visit_date" name="event_visit_date" class="m-wrap medium">
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" style="text-align:right;">就诊时间:<span class="required">*</span></label>
							<div class="controls">
								<select class="form-control" id="event_visit_time">
									<option>07:00</option>
									<option>07:30</option>
									<option>08:00</option>
									<option>08:30</option>
									<option>09:00</option>
									<option>09:30</option>
									<option>10:00</option>
									<option>10:30</option>
									<option>11:00</option>
									<option>11:30</option>
									<option>12:00</option>
									<option>12:30</option>
									<option>13:00</option>
									<option>13:30</option>
									<option>14:00</option>
									<option>14:30</option>
									<option>15:00</option>
									<option>15:30</option>
									<option>16:00</option>
									<option>16:30</option>
									<option>17:00</option>
									<option>17:30</option>
									<option>18:00</option>
									<option>18:30</option>
									<option>19:00</option>
									<option>19:30</option>
									<option>20:00</option>
									<option>20:30</option>
									<option>21:00</option>
								</select>
							</div>
						</div>
						
						<div class="control-group">
							<label class="control-label " style="text-align:right;">就诊项目:<span class="required">*</span></label>
							<div class="controls">
								<select multiple="multiple" id="event_visit_type" name="event_visit_type">

									<option>建卡全套</option>
									<option>复诊</option>
									<option>就诊</option>									
									<option>心电图</option>
									<option>胎监</option>
									<option>脐血流</option>
									<option>阳水穿刺</option>
									<option>凝血功能</option>
									<option>无创DNA</option>
									<option>血常规</option>
									<option>小便常规</option>
									<option>肝功</option>
									<option>肾功</option>
									<option>空腹血糖</option>
									<option>铁蛋白</option>
									<option>输血免疫全套</option>
									<option>甲功</option>
									<option>胆汁酸</option>
									<option>血型</option>
									<option>血型抗价</option>
									<option>75G糖</option>
									<option>唐氏筛查(早)</option>
									<option>唐氏筛查(中)</option>
									<option>胎儿心脏彩超</option>
									<option>胎儿系统彩超</option>	
									<option>NT彩超</option>
									<option>阴道彩超</option>
									<option>腹部彩超</option>
									<option>心脏彩超</option>
									<option>肝胆胰脾肾彩超</option>

								</select>
							</div>
						</div>
	
						<div class="control-group">
							<label class="control-label" style="text-align:right;">是否预约:<span class="required">*</span></label>
							<div class="controls">
								<select class="form-control" id="event_order_success">
									<option>未预约</option>
									<option>已预约</option>
								</select>
							</div>
						</div>

						<div class="control-group" id="event_visit_doctor_name_group">
							<label class="control-label" style="text-align:right;">就诊医生:</label>
							<div class="controls">
								<input type="text" id="event_visit_doctor_name" name="event_visit_doctor_name" class="m-wrap medium">
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" style="text-align:right;">就诊科室:</label>
							<div class="controls">
								<input type="text" id="event_visit_address" name="event_visit_address" class="m-wrap medium">
							</div>
						</div>

						<div class="control-group">
							<label class="control-label" style="text-align:right;">备注:</label>
							<div class="controls">
								<textarea id="event_remarks" name="event_remarks" class="m-wrap medium" style="height:100px"></textarea>
							</div>
						</div>
				
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="submit" class="btn btn-default" id="save_changes">确认</button>
					</div>
				</form>
			</div>
		</div>
	</div>


<!--Account Management Modal BEGIN-->	

	<div class="modal fade bs-modal-lg" id="kf_modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<!-- <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title">陪诊记录</h4>
				</div> -->
				<form action="" class="form-horizontal kf-form">
					<div class="modal-body">

						<div class="control-group">
							<label class="control-label" id="kf_id"></label>
						</div>

						<div class="portlet box blue tabbable">

							<div class="portlet-title">

								<div class="caption"><i class="icon-reorder"></i>陪诊记录</div>

							</div>

							<div class="portlet-body">

								<div class="tabbable portlet-tabs">

									<ul class="nav nav-tabs">
										<li class=""><a href="#portlet_tab2" data-toggle="tab">复诊信息</a></li>
										<li class="active"><a href="#portlet_tab1" data-toggle="tab">陪诊信息</a></li>
									</ul>

									<div class="tab-content">

										<div class="tab-pane active" id="portlet_tab1">

											<div class="row-fluid">
												<div class="span6 ">
													<div class="control-group">
														<label class="control-label span3" style="text-align:right;">就诊日期:<span class="required">*</span></label>
														<div class="controls span9">
															<input type="date" id="kf_visit_date" name="kf_visit_date" >
														</div>
													</div>
												</div>
												<div class="span6 ">
													<div class="control-group">
														<label class="control-label span3" style="text-align:right;">就诊时间:<span class="required">*</span></label>
														<div class="controls span9">
															<select class="form-control" id="kf_visit_time" name="kf_visit_time" >
																<option>07:00</option>
																<option>07:30</option>
																<option>08:00</option>
																<option>08:30</option>
																<option>09:00</option>
																<option>09:30</option>
																<option>10:00</option>
																<option>10:30</option>
																<option>11:00</option>
																<option>11:30</option>
																<option>12:00</option>
																<option>12:30</option>
																<option>13:00</option>
																<option>13:30</option>
																<option>14:00</option>
																<option>14:30</option>
																<option>15:00</option>
																<option>15:30</option>
																<option>16:00</option>
																<option>16:30</option>
																<option>17:00</option>
																<option>17:30</option>
																<option>18:00</option>
																<option>18:30</option>
																<option>19:00</option>
																<option>19:30</option>
																<option>20:00</option>
																<option>20:30</option>
																<option>21:00</option>
															</select>
														</div>
													</div>
												</div>
											</div>	

											<div class="row-fluid">
												<div class="span6 ">
													<div class="control-group">
														<label class="control-label span3" style="text-align:right;">陪诊人员:<span class="required">*</span></label>
														<div class="controls span9">
															<select class="form-control" id="kf_servicename" name="kf_servicename" >
															</select>
														</div>
													</div>
												</div>
												<div class="span6 ">
													<div class="control-group" >
														<label class="control-label span3" style="text-align:right;">就诊项目:<span class="required">*</span></label>
														<div class="controls span9">
															<select multiple="multiple" id="kf_visit_type" name="kf_visit_type">

																<option>建卡全套</option>
																<option>复诊</option>
																<option>就诊</option>									
																<option>心电图</option>
																<option>胎监</option>
																<option>脐血流</option>
																<option>阳水穿刺</option>
																<option>凝血功能</option>
																<option>无创DNA</option>
																<option>血常规</option>
																<option>小便常规</option>
																<option>肝功</option>
																<option>肾功</option>
																<option>空腹血糖</option>
																<option>铁蛋白</option>
																<option>输血免疫全套</option>
																<option>甲功</option>
																<option>胆汁酸</option>
																<option>血型</option>
																<option>血型抗价</option>
																<option>75G糖</option>
																<option>唐氏筛查(早)</option>
																<option>唐氏筛查(中)</option>
																<option>胎儿心脏彩超</option>
																<option>胎儿系统彩超</option>	
																<option>NT彩超</option>
																<option>阴道彩超</option>
																<option>腹部彩超</option>
																<option>心脏彩超</option>
																<option>肝胆胰脾肾彩超</option>

															</select>
														</div>
													</div>
												</div>	
											</div>		

											<div class="row-fluid">
												<div class="span6 ">
													<div class="control-group" id="kf_visit_doctor_name_group">
														<label class="control-label span3" style="text-align:right;">就诊医生:</label>
														<div class="controls span9">
															<input type="text" id="kf_visit_doctor_name" name="kf_visit_doctor_name" >
														</div>
													</div>
												</div>	
											</div>	

											<div class="row-fluid">
												<div class="span6 ">
													<div class="control-group">
														<label class="control-label span3" style="text-align:right;">就诊记录:</label>
														<div class="controls span9">
															<textarea id="kf_result" name="kf_result" style="height:80px;width:210%;"></textarea>
														</div>
													</div>
												</div>
											</div>		
												
											<div class="row-fluid">
												<div class="span6 ">
													<div class="control-group">
														<label class="control-label span3" style="text-align:right;">医嘱:</label>
														<div class="controls span9">
															<textarea id="kf_doctor_advise" name="kf_doctor_advise" style="height:80px;width:210%;"></textarea>
														</div>
													</div>
												</div>
											</div>

											<div class="row-fluid">
												<div class="span6 ">
													<div class="control-group">
														<label class="control-label span3" style="text-align:right;">备注:</label>
														<div class="controls span9">
															<textarea id="kf_remarks" name="kf_remarks" style="height:80px;width:210%;"></textarea>
														</div>
													</div>
												</div>
											</div>
					
										</div>

										<div class="tab-pane" id="portlet_tab2">

											<div style="height: auto;" id="accordion1" class="accordion in collapse">

												<div class="accordion-group">

													<div class="accordion-heading">

														<a href="#collapse_1" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">

														复诊1

														</a>

													</div>

													<div class="accordion-body collapse" id="collapse_1" style="height: 0px;">

														<div class="accordion-inner">

															<div class="row-fluid">
																<div class="span6 ">
																	<div class="control-group">
																		<label class="control-label span3">复诊日期:</label>
																		<div class="controls span9">
																			<input type="date" id="kf_next_visit_date1" name="kf_next_visit_date">
																		</div>
																	</div>
																</div>
																<div class="span6 ">
																	<div class="control-group">
																		<label class="control-label span3">复诊时间:</label>
																		<div class="controls span9">
																			<select class="form-control" name="kf_next_visit_time" >
																				
																				<option>07:00</option>
																				<option>07:30</option>
																				<option>08:00</option>
																				<option>08:30</option>
																				<option>09:00</option>
																				<option>09:30</option>
																				<option>10:00</option>
																				<option>10:30</option>
																				<option>11:00</option>
																				<option>11:30</option>
																				<option>12:00</option>
																				<option>12:30</option>
																				<option>13:00</option>
																				<option>13:30</option>
																				<option>14:00</option>
																				<option>14:30</option>
																				<option>15:00</option>
																				<option>15:30</option>
																				<option>16:00</option>
																				<option>16:30</option>
																				<option>17:00</option>
																				<option>17:30</option>
																				<option>18:00</option>
																				<option>18:30</option>
																				<option>19:00</option>
																				<option>19:30</option>
																				<option>20:00</option>
																				<option>20:30</option>
																				<option>21:00</option>
																			</select>
																		</div>
																	</div>
																</div>
															</div>

															<div class="row-fluid">
																<div class="span6 ">
																	<div class="control-group">
																		<label class="control-label span3">是否预约:</label>
																		<div class="controls span9">
																			<select class="form-control" name="kf_next_order_success" >
																				<option>未预约</option>
																				<option>已预约</option>
																			</select>
																		</div>
																	</div>
																</div>
																<div class="span6 ">
																	<div class="control-group">
																		<label class="control-label span3">复诊医生:</label>
																		<div class="controls span9">
																			<input type="text" name="kf_next_visit_doctor_name" >
																		</div>
																	</div>
																</div>
															</div>

															<div class="row-fluid">
																<div class="span6 ">
																	<div class="control-group" style="height:200px;">
																		<label class="control-label span3" style="text-align:right;">就诊项目:</label>
																		<div class="controls span9">
																			<select style="height:200px;" multiple="multiple" id="kf_next_visit_type1" name="kf_next_visit_type">

																				<option>建卡全套</option>
																				<option>复诊</option>
																				<option>就诊</option>									
																				<option>心电图</option>
																				<option>胎监</option>
																				<option>脐血流</option>
																				<option>阳水穿刺</option>
																				<option>凝血功能</option>
																				<option>无创DNA</option>
																				<option>血常规</option>
																				<option>小便常规</option>
																				<option>肝功</option>
																				<option>肾功</option>
																				<option>空腹血糖</option>
																				<option>铁蛋白</option>
																				<option>输血免疫全套</option>
																				<option>甲功</option>
																				<option>胆汁酸</option>
																				<option>血型</option>
																				<option>血型抗价</option>
																				<option>75G糖</option>
																				<option>唐氏筛查(早)</option>
																				<option>唐氏筛查(中)</option>
																				<option>胎儿心脏彩超</option>
																				<option>胎儿系统彩超</option>	
																				<option>NT彩超</option>
																				<option>阴道彩超</option>
																				<option>腹部彩超</option>
																				<option>心脏彩超</option>
																				<option>肝胆胰脾肾彩超</option>
																																
																			</select>
																		</div>
																	</div>
																</div>		

																<div class="span6 ">
																	<div class="control-group">
																		<label class="control-label span3">就诊地点:</label>
																		<div class="controls span9">
																			<input type="text" name="kf_next_visit_address" >
																		</div>
																	</div>
																	<div class="control-group">
																		<label class="control-label span3">备注:</label>
																		<div class="controls span9">
																			<textarea name="kf_next_remarks" style="height:150px;"></textarea>
																		</div>
																	</div>
																</div>
															</div>																

														</div>

													</div>

												</div>

												<div class="accordion-group">

													<div class="accordion-heading">

														<a href="#collapse_2" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">

														复诊2

														</a>

													</div>

													<div class="accordion-body collapse" id="collapse_2" style="height: 0px;">

														<div class="accordion-inner">

															<div class="row-fluid">
																<div class="span6 ">
																	<div class="control-group">
																		<label class="control-label span3">复诊日期:</label>
																		<div class="controls span9">
																			<input type="date" id="kf_next_visit_date2" name="kf_next_visit_date" >
																		</div>
																	</div>
																</div>
																<div class="span6 ">
																	<div class="control-group">
																		<label class="control-label span3">复诊时间:</label>
																		<div class="controls span9">
																			<select class="form-control" name="kf_next_visit_time" >
																				
																				<option>07:00</option>
																				<option>07:30</option>
																				<option>08:00</option>
																				<option>08:30</option>
																				<option>09:00</option>
																				<option>09:30</option>
																				<option>10:00</option>
																				<option>10:30</option>
																				<option>11:00</option>
																				<option>11:30</option>
																				<option>12:00</option>
																				<option>12:30</option>
																				<option>13:00</option>
																				<option>13:30</option>
																				<option>14:00</option>
																				<option>14:30</option>
																				<option>15:00</option>
																				<option>15:30</option>
																				<option>16:00</option>
																				<option>16:30</option>
																				<option>17:00</option>
																				<option>17:30</option>
																				<option>18:00</option>
																				<option>18:30</option>
																				<option>19:00</option>
																				<option>19:30</option>
																				<option>20:00</option>
																				<option>20:30</option>
																				<option>21:00</option>
																			</select>
																		</div>
																	</div>
																</div>
															</div>

															<div class="row-fluid">
																<div class="span6 ">
																	<div class="control-group">
																		<label class="control-label span3">是否预约:</label>
																		<div class="controls span9">
																			<select class="form-control" name="kf_next_order_success" >
																				<option>未预约</option>
																				<option>已预约</option>
																			</select>
																		</div>
																	</div>
																</div>
																<div class="span6 ">
																	<div class="control-group">
																		<label class="control-label span3">复诊医生:</label>
																		<div class="controls span9">
																			<input type="text" name="kf_next_visit_doctor_name" >
																		</div>
																	</div>
																</div>
															</div>

															<div class="row-fluid">
																<div class="span6 ">
																	<div class="control-group" style="height:200px;">
																		<label class="control-label span3" style="text-align:right;">就诊项目:</label>
																		<div class="controls span9">
																			<select style="height:200px;" multiple="multiple" id="kf_next_visit_type2" name="kf_next_visit_type">

																				<option>建卡全套</option>
																				<option>复诊</option>
																				<option>就诊</option>									
																				<option>心电图</option>
																				<option>胎监</option>
																				<option>脐血流</option>
																				<option>阳水穿刺</option>
																				<option>凝血功能</option>
																				<option>无创DNA</option>
																				<option>血常规</option>
																				<option>小便常规</option>
																				<option>肝功</option>
																				<option>肾功</option>
																				<option>空腹血糖</option>
																				<option>铁蛋白</option>
																				<option>输血免疫全套</option>
																				<option>甲功</option>
																				<option>胆汁酸</option>
																				<option>血型</option>
																				<option>血型抗价</option>
																				<option>75G糖</option>
																				<option>唐氏筛查(早)</option>
																				<option>唐氏筛查(中)</option>
																				<option>胎儿心脏彩超</option>
																				<option>胎儿系统彩超</option>	
																				<option>NT彩超</option>
																				<option>阴道彩超</option>
																				<option>腹部彩超</option>
																				<option>心脏彩超</option>
																				<option>肝胆胰脾肾彩超</option>
																			</select>
																		</div>
																	</div>
																</div>	
																<div class="span6 ">
																	<div class="control-group">
																		<label class="control-label span3">就诊地点:</label>
																		<div class="controls span9">
																			<input type="text" name="kf_next_visit_address" >
																		</div>
																	</div>

																	<div class="control-group">
																		<label class="control-label span3">备注:</label>
																		<div class="controls span9">
																			<textarea name="kf_next_remarks" style="height:150px;"></textarea>
																		</div>
																	</div>
																	
																</div>
															</div>			
												
														</div>

													</div>

												</div>

												<div class="accordion-group">

													<div class="accordion-heading">

														<a href="#collapse_3" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">

														复诊3

														</a>

													</div>

													<div class="accordion-body collapse" id="collapse_3" style="height: 0px;">

														<div class="accordion-inner">

															<div class="row-fluid">
																<div class="span6 ">
																	<div class="control-group">
																		<label class="control-label span3">复诊日期:</label>
																		<div class="controls span9">
																			<input type="date" id="kf_next_visit_date3" name="kf_next_visit_date" >
																		</div>
																	</div>
																</div>
																<div class="span6 ">
																	<div class="control-group">
																		<label class="control-label span3">复诊时间:</label>
																		<div class="controls span9">
																			<select class="form-control" name="kf_next_visit_time" >
																				
																				<option>07:00</option>
																				<option>07:30</option>
																				<option>08:00</option>
																				<option>08:30</option>
																				<option>09:00</option>
																				<option>09:30</option>
																				<option>10:00</option>
																				<option>10:30</option>
																				<option>11:00</option>
																				<option>11:30</option>
																				<option>12:00</option>
																				<option>12:30</option>
																				<option>13:00</option>
																				<option>13:30</option>
																				<option>14:00</option>
																				<option>14:30</option>
																				<option>15:00</option>
																				<option>15:30</option>
																				<option>16:00</option>
																				<option>16:30</option>
																				<option>17:00</option>
																				<option>17:30</option>
																				<option>18:00</option>
																				<option>18:30</option>
																				<option>19:00</option>
																				<option>19:30</option>
																				<option>20:00</option>
																				<option>20:30</option>
																				<option>21:00</option>
																			</select>
																		</div>
																	</div>
																</div>
															</div>

															<div class="row-fluid">
																<div class="span6 ">
																	<div class="control-group">
																		<label class="control-label span3">是否预约:</label>
																		<div class="controls span9">
																			<select class="form-control" name="kf_next_order_success" >
																				<option>未预约</option>
																				<option>已预约</option>
																			</select>
																		</div>
																	</div>
																</div>
																<div class="span6 ">
																	<div class="control-group">
																		<label class="control-label span3">复诊医生:</label>
																		<div class="controls span9">
																			<input type="text" name="kf_next_visit_doctor_name" >
																		</div>
																	</div>
																</div>
															</div>

															<div class="row-fluid">
																<div class="span6 ">
																	<div class="control-group" style="height:200px;">
																		<label class="control-label span3" style="text-align:right;">就诊项目:</label>
																		<div class="controls span9">
																			<select style="height:200px;" multiple="multiple" id="kf_next_visit_type3" name="kf_next_visit_type">

																				<option>建卡全套</option>
																				<option>复诊</option>
																				<option>就诊</option>									
																				<option>心电图</option>
																				<option>胎监</option>
																				<option>脐血流</option>
																				<option>阳水穿刺</option>
																				<option>凝血功能</option>
																				<option>无创DNA</option>
																				<option>血常规</option>
																				<option>小便常规</option>
																				<option>肝功</option>
																				<option>肾功</option>
																				<option>空腹血糖</option>
																				<option>铁蛋白</option>
																				<option>输血免疫全套</option>
																				<option>甲功</option>
																				<option>胆汁酸</option>
																				<option>血型</option>
																				<option>血型抗价</option>
																				<option>75G糖</option>
																				<option>唐氏筛查(早)</option>
																				<option>唐氏筛查(中)</option>
																				<option>胎儿心脏彩超</option>
																				<option>胎儿系统彩超</option>	
																				<option>NT彩超</option>
																				<option>阴道彩超</option>
																				<option>腹部彩超</option>
																				<option>心脏彩超</option>
																				<option>肝胆胰脾肾彩超</option>
																			</select>
																		</div>
																	</div>
																</div>		
																<div class="span6 ">
																	<div class="control-group">
																		<label class="control-label span3">就诊地点:</label>
																		<div class="controls span9">
																			<input type="text" name="kf_next_visit_address" >
																		</div>
																	</div>
																	<div class="control-group">
																		<label class="control-label span3">备注:</label>
																		<div class="controls span9">
																			<textarea name="kf_next_remarks" style="height:150px;"></textarea>
																		</div>
																	</div>
																</div>
															</div>																		

														</div>

													</div>

												</div>

												<div class="accordion-group">

													<div class="accordion-heading">

														<a href="#collapse_4" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle collapsed">

														复诊4

														</a>

													</div>

													<div class="accordion-body collapse" id="collapse_4" style="height: 0px;">

														<div class="accordion-inner">

															<div class="row-fluid">
																<div class="span6 ">
																	<div class="control-group">
																		<label class="control-label span3">复诊日期:</label>
																		<div class="controls span9">
																			<input type="date" id="kf_next_visit_date4" name="kf_next_visit_date" >
																		</div>
																	</div>
																</div>
																<div class="span6 ">
																	<div class="control-group">
																		<label class="control-label span3">复诊时间:</label>
																		<div class="controls span9">
																			<select class="form-control" name="kf_next_visit_time" >
																				
																				<option>07:00</option>
																				<option>07:30</option>
																				<option>08:00</option>
																				<option>08:30</option>
																				<option>09:00</option>
																				<option>09:30</option>
																				<option>10:00</option>
																				<option>10:30</option>
																				<option>11:00</option>
																				<option>11:30</option>
																				<option>12:00</option>
																				<option>12:30</option>
																				<option>13:00</option>
																				<option>13:30</option>
																				<option>14:00</option>
																				<option>14:30</option>
																				<option>15:00</option>
																				<option>15:30</option>
																				<option>16:00</option>
																				<option>16:30</option>
																				<option>17:00</option>
																				<option>17:30</option>
																				<option>18:00</option>
																				<option>18:30</option>
																				<option>19:00</option>
																				<option>19:30</option>
																				<option>20:00</option>
																				<option>20:30</option>
																				<option>21:00</option>
																			</select>
																		</div>
																	</div>
																</div>
															</div>

															<div class="row-fluid">
																<div class="span6 ">
																	<div class="control-group">
																		<label class="control-label span3">是否预约:</label>
																		<div class="controls span9">
																			<select class="form-control" name="kf_next_order_success" >
																				<option>未预约</option>
																				<option>已预约</option>
																			</select>
																		</div>
																	</div>
																</div>
																<div class="span6 ">
																	<div class="control-group">
																		<label class="control-label span3">复诊医生:</label>
																		<div class="controls span9">
																			<input type="text" name="kf_next_visit_doctor_name" >
																		</div>
																	</div>
																</div>
															</div>

															<div class="row-fluid">
																<div class="span6 ">
																	<div class="control-group" style="height:200px;">
																		<label class="control-label span3" style="text-align:right;">就诊项目:</label>
																		<div class="controls span9">
																			<select style="height:200px;" multiple="multiple" id="kf_next_visit_type4" name="kf_next_visit_type">

																				<option>建卡全套</option>
																				<option>复诊</option>
																				<option>就诊</option>									
																				<option>心电图</option>
																				<option>胎监</option>
																				<option>脐血流</option>
																				<option>阳水穿刺</option>
																				<option>凝血功能</option>
																				<option>无创DNA</option>
																				<option>血常规</option>
																				<option>小便常规</option>
																				<option>肝功</option>
																				<option>肾功</option>
																				<option>空腹血糖</option>
																				<option>铁蛋白</option>
																				<option>输血免疫全套</option>
																				<option>甲功</option>
																				<option>胆汁酸</option>
																				<option>血型</option>
																				<option>血型抗价</option>
																				<option>75G糖</option>
																				<option>唐氏筛查(早)</option>
																				<option>唐氏筛查(中)</option>
																				<option>胎儿心脏彩超</option>
																				<option>胎儿系统彩超</option>	
																				<option>NT彩超</option>
																				<option>阴道彩超</option>
																				<option>腹部彩超</option>
																				<option>心脏彩超</option>
																				<option>肝胆胰脾肾彩超</option>
																			</select>
																		</div>
																	</div>
																</div>		
																<div class="span6 ">
																	<div class="control-group">
																		<label class="control-label span3">就诊地点:</label>
																		<div class="controls span9">
																			<input type="text" name="kf_next_visit_address">
																		</div>
																	</div>
																	<div class="control-group">
																		<label class="control-label span3">备注:</label>
																		<div class="controls span9">
																			<textarea name="kf_next_remarks" style="height:150px;"></textarea>
																		</div>
																	</div>
																</div>
															</div>			

														</div>

													</div>

												</div>

											</div>	

										</div>

									</div>

								</div>

							</div>

						</div>

					</div>

					<div class="modal-footer">
						<button type="button" class="btn default" data-dismiss="modal">取消</button>
						<button type="submit" class="btn blue" id="save_changes">确认</button>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	
	<script src="/js/record.js" type="text/javascript"></script>
	

	
</body>
	
	
</html>
